.mainNav {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  z-index: 9999;
  width: 100vw;
  box-shadow: 0px 2px 10px #22222234;
}

.filler {
  height: 8rem;
}

.mainNavList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  padding-right: 8rem;
}

.mainNavItem {
  text-decoration: none;
  font-size: 1.7rem;
  color: #222;
}

.broadcastSection {
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  align-items: center;
  justify-content: start;
  color: #ff5733;
  transform: translateX(-15rem) !important;
}

.broadcastSection p {
  z-index: 99999;
  transform: translateX(-25rem);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
  text-decoration: none;
  color: #222;
}

.logoImg {
  width: 5.5rem;
  height: 5.5rem;
  margin-left: 4rem;
}

.playIcon {
  height: 5rem;
  width: 5rem;
  border: none;
  background-color: #fff;
}

.active {
  color: #ff5733;
}

audio {
  /* position: absolute; */
  background-color: #fff;
  /* transform: translateX(20rem); */
}

audio::-webkit-media-controls-panel {
  background-color: #fff;
}

audio::-webkit-media-controls-current-time-display {
  display: none;
}

audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

audio::-webkit-media-controls-timeline {
  display: none;
}

audio::-webkit-media-controls-volume-slider {
  display: none;
}

audio::-webkit-media-controls-volume-slider-container {
  display: none;
}

audio::-webkit-media-controls-mute-button {
  display: none;
}

.playState::-webkit-media-controls-play-button {
  background-image: url(../assets/play-outline.svg);
  transform: scale(250%);
}

.pauseState::-webkit-media-controls-play-button {
  background-image: url(../assets/pause-outline.svg);
  transform: scale(250%);
}

@keyframes up-right {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.circle {
  border-radius: 1000%;
  width: 0.5rem;
  height: 0.5rem;
  transform: translate(-6.5rem, -0.15rem);
}

.red {
  background-color: #ff5733;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: up-right 1s infinite;
}
