.sectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftSection {
  height: 100vh;
  background-color: #7149c6;
}

.leftSection img {
  margin: 14% 17%;
}

.logos {
  display: flex;
  position: relative;
  gap: 1.4rem;
  left: 24rem;
  bottom: 10rem;
  padding: 1rem;
  height: 12%;
  width: 12%;
}

.logos a {
  display: flex;
  height: 50%;
  width: 50%;
  color: #222;
}

.rightSection {
  height: 100vh;
  background-color: #222;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
  margin-top: 6rem;
  margin-left: 4.6rem;
}

.buttons button {
  width: 11rem;
  height: 4rem;
  font-size: 2.2rem;
  background-color: #222;
  color: #7149c6;
  border: 1.2px solid #7149c6;
  border-radius: 1.8rem;
}

.buttons button:hover {
  background-color: #7149c6;
  color: #222;
  border: 1.2px solid #222;
}

.scheduleContainer {
  margin-left: 7rem;
  margin-top: 3.2rem;
  margin-right: 1rem;
}

.schedule {
  font-size: 3.2rem;
  color: #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.7rem;
}

.active {
  color: #ddd !important;
  border: 1.5px solid #ddd !important;
}
